WDSL SERVICIOS/tmas-scl/WSDL F2/ActivaBolsaAbonadoWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.services.telefonica.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.services.telefonica.com" xmlns:intf="http://ws.services.telefonica.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.services.telefonica.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="activaBolsa">
    <complexType>
     <sequence>
      <element name="entrada" type="impl:ActivaBolsaAbonadoRequestDTO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ActivaBolsaAbonadoRequestDTO">
    <sequence>
     <element name="codServicio" nillable="true" type="xsd:string"/>
     <element name="nomUsuario" nillable="true" type="xsd:string"/>
     <element name="numAbonado" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="activaBolsaResponse">
    <complexType>
     <sequence>
      <element name="activaBolsaReturn" type="impl:ActivaBolsaAbonadoResponseDTO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ActivaBolsaAbonadoResponseDTO">
    <sequence>
     <element name="codigoRetorno" nillable="true" type="xsd:string"/>
     <element name="descripcionRetorno" nillable="true" type="xsd:string"/>
     <element name="numeroEvento" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="activaBolsaResponse">

      <wsdl:part element="impl:activaBolsaResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="activaBolsaRequest">

      <wsdl:part element="impl:activaBolsa" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="ActivaBolsaAbonadoWS">

      <wsdl:operation name="activaBolsa">

         <wsdl:input message="impl:activaBolsaRequest" name="activaBolsaRequest"/>

         <wsdl:output message="impl:activaBolsaResponse" name="activaBolsaResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ActivaBolsaAbonadoWSSoapBinding" type="impl:ActivaBolsaAbonadoWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="activaBolsa">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="activaBolsaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="activaBolsaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ActivaBolsaAbonadoWSService">

      <wsdl:port binding="impl:ActivaBolsaAbonadoWSSoapBinding" name="ActivaBolsaAbonadoWS">

         <wsdlsoap:address location="http://localhost:9080/ActivaBolsaAbonadoWS/services/ActivaBolsaAbonadoWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
