WDSL SERVICIOS/tmas-scl/WSDL F2/DesactivaBolsaAbonadoWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.services.telefonica.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.services.telefonica.com" xmlns:intf="http://ws.services.telefonica.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.services.telefonica.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="desactivaBolsa">
    <complexType>
     <sequence>
      <element name="entrada" type="impl:DesactivaBolsaAbonadoRequestDTO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="DesactivaBolsaAbonadoRequestDTO">
    <sequence>
     <element name="codServicio" nillable="true" type="xsd:string"/>
     <element name="nomUsuario" nillable="true" type="xsd:string"/>
     <element name="numAbonado" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="desactivaBolsaResponse">
    <complexType>
     <sequence>
      <element name="desactivaBolsaReturn" type="impl:DesactivaBolsaAbonadoResponseDTO"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="DesactivaBolsaAbonadoResponseDTO">
    <sequence>
     <element name="codigoRetorno" nillable="true" type="xsd:string"/>
     <element name="descripcionRetorno" nillable="true" type="xsd:string"/>
     <element name="numeroEvento" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="desactivaBolsaResponse">

      <wsdl:part element="impl:desactivaBolsaResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="desactivaBolsaRequest">

      <wsdl:part element="impl:desactivaBolsa" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="DesactivaBolsaAbonadoWS">

      <wsdl:operation name="desactivaBolsa">

         <wsdl:input message="impl:desactivaBolsaRequest" name="desactivaBolsaRequest"/>

         <wsdl:output message="impl:desactivaBolsaResponse" name="desactivaBolsaResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DesactivaBolsaAbonadoWSSoapBinding" type="impl:DesactivaBolsaAbonadoWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="desactivaBolsa">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="desactivaBolsaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="desactivaBolsaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DesactivaBolsaAbonadoWSService">

      <wsdl:port binding="impl:DesactivaBolsaAbonadoWSSoapBinding" name="DesactivaBolsaAbonadoWS">

         <wsdlsoap:address location="http://localhost:9080/DesactivaBolsaAbonadoWS/services/DesactivaBolsaAbonadoWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
