ObtenerOfertasBI/ConsultaOfertaBi.wsdl

<?xml version="1.0" ?>
<!--This document was generated using 'DFHLS2WS' at mapping level '1.1'. -->
<definitions targetNamespace="http://www.OFCEWSCO.OFCEWSZI.com" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:reqns="http://www.OFCEWSCO.OFCEWSZI.Request.com" xmlns:resns="http://www.OFCEWSCO.OFCEWSZI.Response.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.OFCEWSCO.OFCEWSZI.com">
   <types>
      <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.OFCEWSCO.OFCEWSZI.Request.com" xmlns:tns="http://www.OFCEWSCO.OFCEWSZI.Request.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:14:55 UTC 2010
com.ibm.cics.wsdl.properties.mappingLevel=1.1
</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="msi_entrada" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="msi_area" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:14:56 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="3"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="msi_num_com" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:14:56 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="14"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="msi_perfil_usuario" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:14:57 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="2"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="msi_submotivo_id" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:14:57 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="7"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="msi_familia_id" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:14:57 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="3"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="msi_canal" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:14:57 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="2"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="msi_tipo_cliente" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:14:57 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="1"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="msi_uso" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:14:57 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="4"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="msi_oferta_id" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:14:57 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="12"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="msi_pagina" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:14:58 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="2"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="filler1" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:14:58 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="14950"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="OFCEWSCOOperation" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
      <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.OFCEWSCO.OFCEWSZI.Response.com" xmlns:tns="http://www.OFCEWSCO.OFCEWSZI.Response.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:annotation>
            <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
         </xsd:annotation>
         <xsd:annotation>
            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:02 UTC 2010
com.ibm.cics.wsdl.properties.mappingLevel=1.1
</xsd:appinfo>
         </xsd:annotation>
         <xsd:complexType abstract="false" block="#all" final="#all" mixed="false" name="ProgramInterface">
            <xsd:sequence>
               <xsd:element name="mso_salida" nillable="false">
                  <xsd:complexType mixed="false">
                     <xsd:sequence>
                        <xsd:element name="mso_cod_retorno" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:03 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="9"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="mso_des_cod_retorno" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:03 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="100"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="mso_parrafo_error" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:03 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="50"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="mso_cod_bd" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:03 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="9"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="mso_area" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:03 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="4"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="mso_num_com" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:03 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="14"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="mso_clie_rut" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:03 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="12"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="mso_clie_dv" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:04 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="1"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="mso_uso" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:04 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="4"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="mso_pagina" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:04 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="2"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                        <xsd:element maxOccurs="25" minOccurs="25" name="mso_datos" nillable="false">
                           <xsd:complexType mixed="false">
                              <xsd:sequence>
                                 <xsd:element name="mso_perfil_usuario" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:04 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="2"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_prioridad" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:05 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="4"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_submotivo_id" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:05 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="7"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_oferta_id" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:05 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="12"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_tipo_codigo_oferta" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:05 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="4"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_glosa_ofer" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:05 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="255"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_glosa_cor_ofer" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:05 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="50"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_oferta_moneda" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:06 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="4"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_precio" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:07 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="12"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_velocidad_adsl" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:07 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="9"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_tipo_oferta_id" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:07 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="3"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_familia_id" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:07 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="3"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_tipo_cliente" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:07 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="2"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_riesgo" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:07 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="1"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_producto_actual" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:07 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="100"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_precio_actual" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:07 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="12"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                                 <xsd:element name="mso_producto_oferta" nillable="false">
                                    <xsd:simpleType>
                                       <xsd:annotation>
                                          <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:07 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                       </xsd:annotation>
                                       <xsd:restriction base="xsd:string">
                                          <xsd:maxLength value="100"/>
                                          <xsd:whiteSpace value="preserve"/>
                                       </xsd:restriction>
                                    </xsd:simpleType>
                                 </xsd:element>
                              </xsd:sequence>
                           </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="filler1" nillable="false">
                           <xsd:simpleType>
                              <xsd:annotation>
                                 <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Dec 23 18:15:07 UTC 2010
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                              </xsd:annotation>
                              <xsd:restriction base="xsd:string">
                                 <xsd:maxLength value="295"/>
                                 <xsd:whiteSpace value="preserve"/>
                              </xsd:restriction>
                           </xsd:simpleType>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="OFCEWSCOOperationResponse" nillable="false" type="tns:ProgramInterface"/>
      </xsd:schema>
   </types>
   <message name="OFCEWSCOOperationResponse">
      <part element="resns:OFCEWSCOOperationResponse" name="ResponsePart"/>
   </message>
   <message name="OFCEWSCOOperationRequest">
      <part element="reqns:OFCEWSCOOperation" name="RequestPart"/>
   </message>
   <portType name="OFCEWSCOPort">
      <operation name="OFCEWSCOOperation">
         <input message="tns:OFCEWSCOOperationRequest" name="OFCEWSCOOperationRequest"/>
         <output message="tns:OFCEWSCOOperationResponse" name="OFCEWSCOOperationResponse"/>
      </operation>
   </portType>
   <binding name="OFCEWSCOHTTPSoapBinding" type="tns:OFCEWSCOPort">
      <!-- This soap:binding indicates the use of SOAP 1.1 -->
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="OFCEWSCOOperation">
         <soap:operation soapAction="" style="document"/>
         <input name="OFCEWSCOOperationRequest">
            <soap:body parts="RequestPart" use="literal"/>
         </input>
         <output name="OFCEWSCOOperationResponse">
            <soap:body parts="ResponsePart" use="literal"/>
         </output>
      </operation>
   </binding>
   <service name="OFCEWSCOService">
      <port binding="tns:OFCEWSCOHTTPSoapBinding" name="OFCEWSCOPort">
         <!-- This soap:address indicates the location of the Web service over HTTP.
              Please replace "my-server" with the TCPIP host name of your CICS region.
              Please replace "my-port" with the port number of your CICS TCPIPSERVICE. -->
         <soap:address location="http://10.232.3.45:8080/services/ConsultaOfertasClteAntig"/>
         <!-- This soap:address indicates the location of the Web service over HTTPS. -->
         <!-- <soap:address location="http://10.232.3.45:8080/services/ConsultaOfertasClteAntig"/> -->
         <!-- This soap:address indicates the location of the Web service over WebSphere MQSeries.
              Please replace "my-queue" with the appropriate queue name. -->
         <!-- <soap:address location="jms:/queue?destination=my-queue&amp;connectionFactory=()&amp;targetService=/services/ConsultaOfertasClteAntig&amp;initialContextFactory=com.ibm.mq.jms.Nojndi" /> -->
      </port>
   </service>
</definitions>